template
  require(from="./compose-relative-to-parent")
  require(from="./tree-view.css")
  ul.list-group
    li.list-group-item(repeat.for="$item of treeData", show.bind="$item.visible")
      div.indent
        span.indent(repeat.for="num of $item.nestedLevel")
        span.indent(if.bind="!$item.hasChildren")
        span.icon.fa(if.bind="$item.hasChildren", class="${$item.expanded ? 'fa-minus-square-o': 'fa-plus-square-o'}", click.trigger="$item.toggleChildrenVisibility()")
      div.content
        template(if.bind="$item.view")
          compose-relative-to-parent(view.bind="$item.view", view-model.bind="$item.viewModel")
          //compose-relative-to-parent(view.bind="$item.view")
        template(if.bind="!$item.view")
          | ${$item.text}
          br
          | ${$item.text}
          | ${$item.text}
          br
          | ${$item.text}