template
  h1 Grid Test
  button(click.trigger="toggleFilter()") Toggle filter
  div
    | ID: 
    input(value.bind="num", type="number")
    | &nbsp; &nbsp; &nbsp;
    | Active Binded: 
    label
      input(type="radio" name="tacos" model.bind="true" checked.bind="boolValue")
      | True
      input(type="radio" name="tacos" model.bind="false" checked.bind="boolValue")
      | False
      input(type="radio" name="tacos" model.bind="undefined" checked.bind="boolValue")
      | All
    | &nbsp; &nbsp; &nbsp;
    | Date From:
    datepicker(value.bind="filterDateFrom", style="width:200px")

  hr
  grid(show-filters.bind="showFilters", data.bind="data")
    grid-row
      grid-col(heading="ID", field="id", style="width:200px;", filter="input", filter-value.bind="num")
        i column template: 
          strong ${ $item.id }

      grid-col(heading="Active", field="isActive", filter="boolean")
        | ${$item.isActive}

      grid-col(heading="Active Binded", field="isActive", filter="boolean", filter-value.bind="boolValue")
        | ${$item.isActive}

      grid-col(heading="Name", field="name", filter="input", filter-value="le")
        | I'm ... ${ $item.name }!

      grid-col(heading="Test", field="date", filter="date-from-to", from.bind="filterDateFrom", to="2020-12-12")
        | ${$item.date | shortDateFormat } 

      grid-col(heading="Select", field="type", filter="select", filter-items.bind="selectItems", filter-value.bind="selectedType")
        | ${$item.id}-${$item.type}
